.input-label {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.input-file-user {
    width: 0.1px;
    height: 0.1px;
    overflow: hidden;
    opacity: 0;
}
